html, body {
    width: 100%;
    height: calc(100% - 0px);
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block;
    background-color: #ECF0F1;
    justify-content: start;
}

#title {
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#center-block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 10px;
}

#number {
    height: 30px;
    text-align: center;
}
